@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex; /* Usar flexbox */
  justify-content: space-between; /* Espacio entre el logo y los enlaces */
  align-items: center; /* Alinear verticalmente */
  background: #FCAFC0;
  height: 100%;
  width: 100%;
  padding: 10px 20px; /* Espaciado alrededor */
  position: relative; /* Necesario para el z-index */
  z-index: 10; /* Asegura que el nav esté por encima */
}

.logo img {
  width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
}

nav ul {
  display: flex; /* Usar flexbox para los enlaces */
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px; /* Espaciado entre los enlaces */
}

nav ul li a {
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 22px;
  color: white;
  cursor: pointer;
  display: none; /* Esconde el botón por defecto */
}

#check {
  display: none; /* Esconde el checkbox */
}

@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

/* Responsive media query code for small screen */
@media (max-width: 890px) {
  .checkbtn {
    display: block; /* Muestra el botón en pantallas pequeñas */
  }

  label.logo {
    font-size: 22px;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(44, 62, 80, 0.95); /* Fondo semi-transparente */
    top: 0; /* Asegura que el menú comience desde la parte superior */
    left: -100%;
    text-align: center;
    flex-direction: column; /* Cambia a columna para los enlaces */
    transition: all .5s;
    z-index: 9; /* Asegura que el menú esté por encima del header */
  }

  nav ul li {
    display: block; /* En pantallas pequeñas, los enlaces se muestran uno debajo del otro */
    margin: 50px 0; /* Espaciado entre enlaces */
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0; /* Muestra el menú al activar el checkbox */
  }
}

section {
  background-size: cover;
  height: calc(100vh - 80px);
}
